<%= turbo_frame_tag [ 
        cart_itemable_type,
        cart_itemable_id,
        "cart_item_button" 
    ].join("_") do %>
    <% if quantity == 0 %>
        <%= button_to cart_item_path,
            class: "cart-button",
            form: {
                data: { turbo_stream: true }
            },
            params: {
                cart_itemable_type: cart_itemable_type,
                cart_itemable_id: cart_itemable_id
            } do %>
            <%= icon "shopping-cart", class: "size-6 text-white" %>
            <% <span>Add</span> %>
        <% end %>
    <% else %>
        <div class="flex items-center">
            <%= button_to cart_item_path,
                class: "cart-button-left",
                form: {
                    data: { turbo_stream: true }
                },
                method: :delete,
                params: {
                    cart_itemable_type: cart_itemable_type,
                    cart_itemable_id: cart_itemable_id
                } do %>
                <%= quantity > 1 ? icon("minus") : icon("trash") %>
            <% end %>
            <span class="cart-button-mid"><%= quantity %></span>
            <%= button_to cart_item_path,
                class: "cart-button-right",
                form: {
                    data: { turbo_stream: true }
                },
                params: {
                    cart_itemable_type: cart_itemable_type,
                    cart_itemable_id: cart_itemable_id
                } do %>
                <%= icon("plus") %>
            <% end %>
        </div>
    <% end %>
<% end %>