<%= turbo_stream.replace "cart" do %>
  <%= turbo_frame_tag "cart" do %>
    <div
      data-controller="cart"
      data-action="click->cart#close"
      data-cart-target="background"
      class="fixed inset-0 bg-black/70 flex items-center justify-center"
    >
      <div class="flex flex-col gap-4 bg-white rounded-2xl p-4 w-1/2 h-2/3">
        <div class="flex items-center justify-between">
          <h1 class="text-2xl font-bold">Your Cart</h1>
          <%= icon "x-mark", class: "cursor-pointer size-6", data: { action: "click->cart#close" } %>
        </div>
        <%= button_to "Clear",
          clear_cart_path,
          class: "text-red-500 underline cursor-pointer",
          data: {
          turbo_confirm: "Are you sure?",
          turbo_stream: true
          },
          method: :delete %>
          <span>Cart items:</span>
          <div id="cart_items" class="flex flex-col gap-3 overflow-y-auto">
          <% current_cart.cart_items.each do |cart_item| %>
              <%= cart_item_for cart_item %>
          <% end %>
          </div>
      </div>
    </div>
  <% end %>
<% end %>